<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proveedor Detalle</title>
</head>
<body>
    
    <p>Nombre Proveedor: <i>{{proveedor.nombreP}}</i></p>
    <p>Apellido Proveedor: <i>{{proveedor.apellidoP}}</i></p>
    <p>Telefono Proveedor: <i>{{proveedor.telefonoP}}</i></p>
    <p>Direccion Proveedor: <i>{{proveedor.direccionP}}</i></p>
    <p>
        <a href="{% url 'List' %}">Regresar</a>
    </p>
    
</body>
</html>